body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 100%;

    background: #F7F8FC;
    border: 1px solid #E9EAEF;
    border-top: 0;
    border-left: 0;
}

/* .r2 {

    box-sizing: border-box;

    position: absolute;
    width: 45px;
    height: 472px;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    box-shadow: 6px 0px 10px #E4E5E7;
} */

.r3 {        
    /* Rectangle 3 */
    box-sizing: border-box;

    position: absolute;
    width: 5%;
    height: 12.5%;

    background: #ffffff;
    border: 1px solid #E9EAEF;
}
#menuButton {
    width: 40px;
    height: 30px;
    background-color: white;
    color: #017CFE; /* Set the menu icon color */
    text-align: center;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 20px / 15px; /* Create horizontal oval shape */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1; /* Bring menu button above r3 */
}

.r8 {            
    /* Rectangle 8 */
    box-sizing: border-box;

    position: absolute;
    width: 5%;
    height: 87.5%;
    top: 12.5%; 

    background: #ffffff;
    border: 1px solid #E9EAEF;
    border-top: 0px;
    left: -100%; 
    transition: left 0.3s ease-in-out;
    
}

.r7 {
    
    /* Rectangle 7 */

    box-sizing: border-box;

    position: absolute;
    width: 60.30%;
    height: 85.38%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 11.22%;
    left: 6.9%;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
.r6 {
    /* Rectangle 6 */

    box-sizing: border-box;
    width: 99.6%;
    height: 88.33%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    margin-top: 0px;
    margin-left: 0px;
    border-radius:  0px 0px 0px 0px;
    border-left: none;
    border-right: none;
} 
#comments {
    /* Textarea styles */
    width: 100%; /* Take full width of parent */
    height: 99%;
    padding-left: 3px;
    padding-top: 3px;
    resize: none; /* Disable resizing */
    border: none; /* Remove border to match parent div's border */
        
}
#comments::-webkit-scrollbar {
    width: 3px; /* Adjust scrollbar width */
}

#comments::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the track */
}

#comments::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
}

.r9 {
    /* Rectangle 9 */

    box-sizing: border-box;

    position: absolute;
    width: 100%;
    height: 11.66%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 88.33%;
    margin-left: 0px;
    border-radius:  0 0 0px 0px;
    border-left: none;
    border-right: none;
}

.r40 {
    /* Rectangle 40 */

    box-sizing: border-box;

    position: absolute;
    width: 37.96%;
    height: 53.19%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;

    top: 23.4%;
    left: 2.22%;
    border-radius: 2px;
}

.r38 {
    /* Rectangle 38 */

    box-sizing: border-box;

    position: absolute;
    width: 37.96%;
    height: 53.19%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 23.4%;
    left: 42.22%;
    border-radius: 2px;
}

.r36 {
    /* Rectangle 36 */

    box-sizing: border-box;

    position: absolute;
    width: 7%;
    height: 53.19%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 23.4%;
    left: 90.0%;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
}
.r36 button {
    width: 100%; /* Set the button's width to 100% to fill the div */
    height: 100%;
}


.r11 { 
    /* Rectangle 11 */

    box-sizing: border-box;

    position: absolute;
    width: 14.68%;
    height: 6.355%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 3.6%;
    left: 52.50%;
    border-radius: 2px;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}

.r13 {
    /* Rectangle 13 */

    box-sizing: border-box;

    position: absolute;
    width: 12.45%;
    height: 6.355%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 3.6%;
    left: 39.38%;
    border-radius: 2px;

    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: center;
}
.green-letter {
    color: #45CA90;
    font-size: 20px;
    font-weight: bold;
}
.purple-letter {
    color: #5240B3;
    font-size: 20px;
    font-weight: bold;
}


.r16{
    /* Rectangle 16 */

    box-sizing: border-box;

    position: absolute;
    width: 15.23%;
    height: 7.20%;

    background: #017CFE;
    border: 1px solid #E9EAEF;
    top: 2.75%;
    left: 68.63%;
    border-radius:  2px 0 0 0;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.r17 {
    /* Rectangle 17 */

    box-sizing: border-box;

    position: absolute;
    width: 15.23%;
    height: 7.2%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 2.75%;
    left: 83.87%;
    border-radius:  0 2px 0 0;
    font-size: 25px;
    text-align: center;
    line-height: 2.5;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}


.r24 {
    /* Rectangle 24 */

    box-sizing: border-box;

    position: absolute;
    /* width: 132px;
    height: 26px; */
    width: 14.68%;
    height: 5.5%;

    background: #017CFE;
    border: 1px solid #E9EAEF;
    top: 24.78%;
    left: 76.64%;
    border-radius: 2px;
}
.r24 button{
    width: 100%;
    height: 100%;
    background-color: #017cfe;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border:none;
    border-radius: 5px;
}

.r26 {
    /* Rectangle 26 */
    box-sizing: border-box;
    position: absolute;
    width: 30.47%;
    height: 53.17%;

    background: #FFFFFF;
    border: 1px solid #E9EAEF;
    top: 32.83%;
    left: 68.63%;
    border-radius: 2px;
    overflow-y: auto;
}
.r26::-webkit-scrollbar {
    width: 3px; /* Adjust scrollbar width */
}

.r26::-webkit-scrollbar-track {
    background-color: #f0f0f0; /* Color of the track */
}

.r26::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
}

.r33 {
    /* Rectangle 33 */

    box-sizing: border-box;

    position: absolute;
    width: 30.47%;
    height: 8.47%;

    background: #017CFE;
    border: 1px solid #E9EAEF;

    top: 88.13%;
    left: 68.63%;
    border-radius: 2px;
}
.r33 button{
    width: 100%;
    height: 100%;
    background-color: #017cfe;	
    border-radius: 5px;
    color: white;
    font-size: 25px;
    font-weight: bold;
    border:none;
}
.r29 {
    /* Rectangle 29 */
    box-sizing: border-box;

    position: relative;
    width: 91.2%;
    height: 16%;

    background: #FEF7F8;
    border: 1px solid #E9EAEF;
    top: 4.78%;
    left: 4.37%;
    border-radius: 2px;
    margin-bottom: 10px;
}  

.r43 {
    /* Rectangle 43 */
    box-sizing: border-box;
    position: relative;
    width: 90%;
    height: 57.5%;
    background: #CC4849;
    /* border: 1px solid #DB9395; */
    top: 20%;
    left: 5%;
    border-radius: 2px;
    font-size: 25px;
}

.r44 {
    position: absolute;
    width: 80%;
    height: 100%;
    text-align: left;
    font-size: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Show an ellipsis (...) for overflowed text */
    line-height: 2.5;
}

.r45 {
    position: absolute;
    width: 20%;
    height: 100%;
    left: 80%;
    font-size: 25px;
    text-align: center;
    line-height: 1.5;
}

/* CSS for red text */
.red-text {
    color: red;
}

/* CSS for black text */
.black-text {
    color: black;
}
.picture {
    width: 80%;
    height: 60%;
    align-content: center;
    background-image: url("{% static 'images/Shotota_logo.png' %}");
    background-repeat: no-repeat;
    background-size: contain;
    border:2px solid #fff;
}
#side-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#side-menu li {
    color: black;
}
ul li {
    padding-top: 30px;
  }
  .container {
    position: absolute;
    top: 10.44%;
    left: 68.6%;
    height: 5.22%;
    background: #FFFFFF;
    width:30.3%;
    display: flex;
}

.card {
    position: relative;
    width: 330px;
    height: 90px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    transition: 0.5s;
    margin-right: 5px;
    border: 2px solid #E7E8EC;
    border-radius: 5px;
}

.card:last-child {
    margin-right: 0;
}

.progress-bar {
    background: rgb(0, 0, 0, 0);
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    position: absolute;
    left: 40px;
    top: 0;
    height: 100%;
}

.progress-bar:before {
    content: "";
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
    background: rgb(0, 0, 0, 0);
    z-index: 0;
}

/*===== The CSS =====*/
.progress {
    width: 200px;
    height: 200px;
    z-index: 1;
}

.progress .track,
.progress .fill {
    fill: #f5f5f5;
    stroke-width: 3;
    transform: rotate(90deg) translate(0px, -80px);
}

.progress .track {
    stroke: #cccccc;
}

.progress .fill {
    stroke: #00a043; /* For the first progress circle */
    stroke-dasharray: 219.99078369140625;
    stroke-dashoffset: -219.99078369140625;
    transition: stroke-dashoffset 1s;
}

.card:last-child .fill {
    stroke: red; /* For the second progress circle */
}

.progress .value {
    fill: black;
    text-anchor: middle;
}
.text {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    display: flex;
    align-items: center;
}
.percentage {
    font-size: 1.5em;
  } 